<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css" />
    <title>Brasileirão 2022</title>
</head>
<body>
    <header>
        <div class='header--logo'>
            <img src='img/logo-cbf.png' alt='Logo CBF'/>
            <h1>Brasileirão 2022</h1>
        </div>
        <form method="GET" class='header--search' action='/pesquisa'>            
            <input name='q' placeHolder= 'Pesquisar por time...' type='text' /> 
            <button type='submit' ><img src='img/search.svg' alt='lupa'/></button>        
        </form>
    </header>

    <nav>
        <ul>
            <li> <a class='active' href='/' >Todos</a> </li>
            <li> <a class='' href='/seriea' >Série A</a> </li>
            <li> <a class='' href='/serieb' >Série B</a> </li>
        </ul>
    </nav>
